html, body {
  width: 700px;
}

/* Styling for Top*/
.header{
  width:100%;
}

.inner {
  display: inline-block;
}

.page{
  font-family: 'Lato', serif;
  font-size: 25px;
  font-weight: 300;
  margin-left: 30px;

}

#button-container{
  float: right;
  margin-top: 2em;
  margin-right: 30px;
}


/* Style the buttons that are used to open the tab content */
.doctor button {
  float: left;
  cursor: pointer;
  padding: 5px 16px;
}

/*Styling for statistics*/
.statistics{
  font-family: 'Lato', serif;
  cursor: default;
}

.stat-container{
  /*text-align: center;*/
  margin: -10px 30px 0px;
}

.stat {
  display: inline-block;
  width: 250px;
}
.counter{
  display: inline-block;
  width: 50px;
}

/*Styling for URL windows*/
.small-titles{
  margin-left: 20px;
  font-size: 20px;
}

.status{
  margin-left: 20px;
}

.urls {
  list-style: none;
  background: none;
  overflow-y: auto;
  overflow-x: hidden;
  height: 180px;
  white-space: nowrap;
}

#response-urls, #cookies{
  height: 100px;
}

.url{
  margin-bottom: 1%;
  margin-right: 20px;
  overflow:hidden;
  text-overflow: ellipsis;
}

.third {
  font-weight: bold;
}



.cookie{
  font-weight: normal;
  overflow:hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
  /*color: black;*/
}

.identifying{
  font-weight: bold;
}
.safe{
  font-style: italic;
}

.third-syncing{
  color: darkred;
}

.tracking-by-tracker {
  color: red;
}

.first-syncing{
  color: coral;
}

.basic-tracking {
  color: darkorange;
}

.forwarding{
  color: goldenrod;
}

.analytics{
  color: darkgreen;
}


/*.identifying.basic-tracking, .identifying.tracking-by-tracker, .identifying.first-syncing, .identifying.third-syncing {
  color: darkblue;
}*/

.forwarded{
  color: darkgrey;
}

.third-forwarded{
  color: darkblue;
}

.first-forwarded{
  color: purple;
}



.analytics .forwardedFirstPartyParams{
  color: goldenrod;
}

.expanded{
  overflow: visible;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 98%;
  white-space: pre-wrap;
  word-break: break-all;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
}