html, body {
  width: 700px;
}

.hidden {
  display: none;
}

.button {
  margin: 10px 50px 10px 50px;
  padding: 10px;
  text-align: center;
  font-family: 'Lato';
  font-size: 1em;
  cursor: pointer;
  display:inline-block;
}

.right{
  float: right;
}

.url{
  white-space: nowrap;
  margin-bottom: 1%;

}

.name{
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: 'Lato', serif;
  font-size: 25px;
  font-weight: 300;
  cursor: default;
}

.statistics{
  position: absolute;
  top: 60px;
  left: 80px;
  font-family: 'Lato', serif;
  cursor: default;
}

.stat-container{
  text-align: center;
}

.stat {
  display: inline-block;
  width: 200px;
}
.counter{
  display: inline-block;
}

.page{
  position: absolute;
  top: 3px;
  left: 310px;
  font-family: 'Lato', serif;
  font-size: 25px;
  font-weight: 300;
  cursor: default;
}

.urls {
  list-style: none;
  background: none;
  padding: 20px 20px 20px 20px;
  margin: 200px 0 0;
  overflow: auto;
  height: 300px;
}

.third {
  font-weight: bold;
}

.tracking {
  color: darkred;
}